body{
    font-family: 'Raleway', sans-serif;
}
h1, h1, h2{
    font-family: 'DM Serif Display', serif;
}
.bg-dark{
    background-color: black !important;
}
a.navbar-brand{
    font-family: 'DM Serif Display', serif;
}
.nav-item{
    padding: 0 15px;
}
nav.navbar{
    margin-bottom: 30px;
}
#portfolio{
    margin-bottom: 70px
}
.portfolio-grid .card{
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}
.intro{
    margin-bottom: 30px;
}
.portfolio-grid .card img{
    border: none;
    border-radius: 0;
}
.skills{
    margin-bottom: 60px;
}
.skills h3{
    text-transform: uppercase;
    font-size: 14px;
}
.skills .progress{
    margin-bottom: 17px;
    border-radius: 0;
}
.skills .progress-bar{
    background-color: black;
}
.bottom-about{
    margin-top: 40px;
}
.bottom-about h2{
    margin-bottom: 20px;
}
footer{
    padding: 30px 0;
    color: #fff;
    font-size: 12px;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,1);
    border: none;
}
.input-group-text{
    border-radius: 0;
    background: black;
    color: #fff;
}
form.contact-form {
    margin-top: 20px;
    margin-bottom: 50px;
}
.contact-form textarea{
    border: 1px solid #ced4da;
    width: calc(100% - 39px);
}
form.contact-form .btn{
    margin-top: 20px;
}
.btn-outline-dark{
    border-radius: 0;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
}
.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child){
    border-radius: 0;
}
.container.contact {
    min-height: calc(100vh - 180px);
}
.profile img{
    margin-bottom: 30px;
}
.resume{
    margin-bottom: 30px;
}
.profile img {
    max-width: 250px;
    border-radius: 50%;
    width: 100%;
}
.social-links a{
    display: block;
    margin-bottom: 10px;
    color: #000;
}
.social-links a img{
    width: 30px;
    margin-right: 10px;
}
.card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    margin: 20px;
}
.portfolio-grid .card-img-overlay a{
    color: #fff;

}
.card-img-overlay{
    background: rgba(0,0,0,0.7);
    opacity:0;
    font-weight: 300;
}
.card-img-overlay:hover{
    background: rgba(0,0,0,0.7);
    opacity: 1;
    transition: all 0.3s;
}
.portfolio-grid .card-img-overlay p strong{
    font-weight: 600;
}
.card-title{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
}
.resume h5{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.resume a{
    color: #000;
    font-weight: 400;
}

.resume p{
    margin-bottom: 0;
    font-size: 15px;
}

.resume .item{
    margin-bottom: 30px;
}

.resume .item.last{
    margin-bottom: 70px;
}

.resume .date{
    font-style: italic;
}

a.btn-outline {
    border: solid thin #000;
    padding: 15px 30px;
}

a.btn-outline:hover{
    background: #000;
    color: #fff;
    text-decoration: none;
}

.box{
    border: solid thin #000;
    text-align: center;
    padding: 30px 30px 50px;
    min-height: 170px;
    margin-bottom: 70px;
    box-sizing: content-box;    
}

.box h6{
    text-transform: uppercase;  
    font-weight: 700;
}

.box p{
    margin-bottom: 0;
}

.box a{
    color: #000;
    text-decoration: none;
}
.box a:hover{
    color:  #666;
}
.contact{
    margin-top: 50px;
}

.contact img{
    max-width: 50px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.skills{
    margin-top: 40px;
}
@media (min-width: 768px) { 
    .profile img{
        margin-bottom: 0px;
    }
    .bottom-about{
        margin-top: 50px;
    }
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        margin: 0px;
    }
    .skills{
        margin-top: 0px;
    }
}


@media (min-width: 992px) { 

}


@media (min-width: 1200px) { 

}